# SMS_Spam_Detection

In [1]:
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv("sms.csv", encoding='utf-8')--- This doesnot work as in the dataset we have characters such as dollar sign, emoji's which UTF-8 cannot read causing UnicodeDecode Error

df = pd.read_csv("sms.csv", encoding='latin-1')

In [3]:
df.shape

(5571, 2)

In [4]:
df.size

11142

In [9]:
df.head(10)

,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
0,ham,Ok lar... Joking wif u oni...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,U dun say so early hor... U c already then say...
3,ham,"Nah I don't think he goes to usf, he lives aro..."
4,spam,FreeMsg Hey there darling it's been 3 week's n...
5,ham,Even my brother is not like to speak with me. ...
6,ham,As per your request 'Melle Melle (Oru Minnamin...
7,spam,WINNER!! As a valued network customer you have...
8,spam,Had your mobile 11 months or more? U R entitle...
9,ham,I'm gonna be home soon and i don't want to tal...

In [11]:
df['ham'].size

5571

In [13]:
df['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'].dtype

dtype('O')

In [15]:
print(df.dtypes)

ham                                                                                                                object
Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...    object
dtype: object

In [17]:
print(df.info)

<bound method DataFrame.info of        ham  \
0      ham
1     spam
2      ham
3      ham
4     spam
...    ...
5566  spam
5567   ham
5568   ham
5569   ham
5570   ham

     Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
0                         Ok lar... Joking wif u oni...
1     Free entry in 2 a wkly comp to win FA Cup fina...
2     U dun say so early hor... U c already then say...
3     Nah I don't think he goes to usf, he lives aro...
4     FreeMsg Hey there darling it's been 3 week's n...
...                                                 ...
5566  This is the 2nd time we have tried 2 contact u...
5567               Will ÂŸ b going to esplanade fr home?
5568  Pity, * was in mood for that. So...any other s...
5569  The guy did some bitching but I acted like i'd...
5570                         Rofl. Its true to its name

[5571 rows x 2 columns]>

In [20]:
print(df['ham'].value_counts())

ham
ham     4824
spam     747
Name: count, dtype: int64

In [24]:
print(df['ham'].value_counts(normalize=True)*100)

ham
ham     86.591276
spam    13.408724
Name: proportion, dtype: float64