# SMS_Spam_Detection

In [25]:
# Needed Libraries for the Project

Requirement already satisfied: nltk in /opt/anaconda3/lib/python3.12/site-packages (3.9.1)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (4.66.5)

In [27]:
import pandas as pd
import numpy as np

In [2]:
# # df = pd.read_csv("sms.csv", encoding='utf-8')--- This doesnot work as in the dataset we have characters such as dollar sign, emoji's which UTF-8 cannot read causing UnicodeDecode Error

# df = pd.read_csv("sms.csv", encoding='latin-1')

In [3]:
# df.shape

(5571, 2)

In [4]:
# df.size

11142

In [7]:
# df.head(10)

## Project Initiation

In [21]:
df = pd.read_csv("Spam Dataset/SMSSpamCollection",sep="\t",header=None,names=["label", "message"],encoding="latin-1")
# This Step is the most important since the data in the dataset in in txt format seperated by commas
# If the dataset is already converted into a csv File then the upper commented code works too.

In [23]:
df.head() # ---- Looking if the data is in needed format or not

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...